body {
  background-color: rgb(43, 42, 42);
}

.navbar-brand {
  padding-left: 10px;
  color: aqua;
  font-size: 35px;
  font-weight: bold;
}

.more-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.container-fluid .navbar-nav .nav-item a {
  color: aqua;
}

.collapse {
  margin-left: 100px;
}

.home-para {
  position: absolute;
  margin: 30px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 11;
  top: 80px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 40px;
}

.web-name {
  font-size: 40px;
}

.feature-products {
  margin: 50px;
}
